.about-us-cards{
    overflow-y: scroll;

}

.card-layout{
    
    align-items: center;
    text-align: center;
    background-color: green;
    width: max-content;
    height: max-content;
    margin: auto;
}

.aboutcard{
    
    display: inline-block;
    float: left;
    background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
    width: 400px;
    height: 600px;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    border-radius: 20px;

}

.aboutcard .image-view{
    display: block;
    position: relative;
    height: 40%;
    width: 100%;
    background-color: tomato;
    border-radius: 20px 20px 0 0 ;
}

.aboutcard .text-view{
    padding:10px;
}

.aboutcard .text-view h1{
    letter-spacing: 5px;

}

.aboutcard .text-view p{
    letter-spacing: 2px;
    color: #707070;

}